html {
  overflow-x: hidden !important; }

.body {
  overflow-x: hidden !important;
  margin: auto !important; }

.container {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  width: 1000px;
  max-width: none !important; }
  .container .left {
    width: 650px !important;
    float: left; }
  .container .right {
    width: 350px;
    float: right; }

.flag {
  margin-top: 10px;
  background-color: white;
  height: 25px;
  width: 200px;
  padding: 0 10px !important;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px; }
  .flag li {
    float: unset;
    padding-right: 0 !important; }
    .flag li:first-child a {
      padding-right: 20px; }

.d-flex {
  display: flex; }
  .d-flex.flex-end {
    justify-content: flex-end; }
  .d-flex.space-center {
    justify-content: center; }
  .d-flex.space-between {
    justify-content: space-between; }
  .d-flex.align-center {
    align-items: center; }

.mt-20 {
  margin-top: 20px; }

.mr-1 {
  margin-right: 10px; }

.pl-1 {
  padding-left: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pr-1 {
  padding-right: 10px; }

.ml-1 {
  margin-left: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.mt-5 {
  margin-top: 6px; }

.navbar-nav {
  display: flex !important;
  justify-content: space-between; }

#top-bar-wrapper {
  border-bottom: 1px solid #ccc; }

.navbar.nav-left {
  min-height: 45px; }

.header-style02 {
  background: #0e2b3d;
  width: 100%;
  margin: auto; }
  .header-style02 .logo {
    display: flex;
    height: auto;
    align-items: center; }
    .header-style02 .logo img.txt {
      height: 45px;
      width: auto; }
  .header-style02 #quick-links {
    display: flex;
    justify-content: flex-end; }
  .header-style02 .navbar-header {
    width: 100%;
    padding-top: 0; }
  .header-style02 .header-bottom {
    height: 45px;
    position: relative; }
    .header-style02 .header-bottom:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 38px;
      width: 100%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      background: #0e2b3d;
      background: linear-gradient(0deg, #0e2b3d 0%, #6d9dba 100%); }
  .header-style02 .navbar-nav {
    height: 45px;
    bottom: 0;
    width: 100%; }
    .header-style02 .navbar-nav li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 45px; }
      .header-style02 .navbar-nav li a {
        font: 14px/43px Tahoma;
        color: #fff;
        float: left;
        padding: 0 10px;
        text-transform: uppercase;
        text-indent: 6px; }
        .header-style02 .navbar-nav li a:hover, .header-style02 .navbar-nav li a.active {
          background: url("../img/r_mn.jpg") no-repeat center top;
          background-size: 100% 100%; }
  .header-style02 ul li a {
    color: white !important; }
  .header-style02 ul li .dropdown-menu {
    background: #0e2b3d; }
    .header-style02 ul li .dropdown-menu li a {
      width: 100%;
      background: none !important; }
      .header-style02 ul li .dropdown-menu li a:hover {
        text-decoration: underline; }
  .header-style02 .header-inner {
    padding: 0; }

.row {
  margin-bottom: 10px; }

.navbar-collapse {
  float: none; }

.social-icons {
  justify-content: center;
  display: flex;
  list-style: none;
  margin-top: 20px; }
  .social-icons li {
    margin: 0 5px;
    font-size: 20px; }

.list-skype {
  list-style: none; }
  .list-skype li {
    margin-bottom: 10px; }
    .list-skype li a {
      color: white;
      display: flex; }
      .list-skype li a img {
        margin-right: 10px; }

.logo-content .box-title {
  background: url("../img/gim.jpg") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  font-size: 16px;
  height: 39px;
  text-transform: uppercase;
  left: 9px;
  margin-bottom: -20px;
  line-height: 39px;
  position: relative;
  text-align: center;
  width: 168px;
  z-index: 1; }
.logo-content .quick-link-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .logo-content .quick-link-bottom a, .logo-content .quick-link-bottom span {
    font-weight: bold;
    font-size: 15px;
    color: #0e2b3d; }
.logo-content .box-logo {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #0e2b3d;
  position: relative;
  padding: 20px 30px 20px 45px; }
  .logo-content .box-logo .owl-controls .owl-nav {
    width: 100%; }
    .logo-content .box-logo .owl-controls .owl-nav .owl-prev {
      left: -40px; }
    .logo-content .box-logo .owl-controls .owl-nav .owl-next {
      right: -20px; }
    .logo-content .box-logo .owl-controls .owl-nav [class*="owl-"] {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 35px;
      height: 35px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid #0e2b3d;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0e2b3d; }
      .logo-content .box-logo .owl-controls .owl-nav [class*="owl-"]:hover {
        background-color: #0e2b3d;
        color: white; }
.logo-content .owl-item {
  margin-top: 10px; }
  .logo-content .owl-item img {
    padding: 10px 15px;
    border: 2px solid #0e2b3d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4); }

.sys {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }
  .sys .small-box {
    margin-top: 20px;
    height: 80px;
    width: 50%;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row; }
    .sys .small-box.bx-left {
      background: url("../img/sys_pp.png") no-repeat;
      margin-right: 5px; }
    .sys .small-box.bx-right {
      background: url("../img/poll2.png") no-repeat;
      margin-left: 5px; }
    .sys .small-box a {
      color: #0e2b3d;
      width: 45%;
      font-size: 12px;
      margin-right: 10px; }

.col-50 {
  width: 49%;
  float: left; }
  .col-50.right {
    float: right; }

.list-dot {
  margin-top: 20px;
  width: 60%;
  margin: auto;
  padding-left: 20px; }
  .list-dot li {
    list-style: disc; }

video {
  margin: auto; }

video[poster] {
  height: 100%;
  width: 350px;
  margin: auto; }

.box-product-slider {
  border-radius: 10px;
  border: 1px solid #0e2b3d;
  position: relative;
  padding: 15px 50px; }
  .box-product-slider .owl-controls .owl-nav {
    width: 100%; }
    .box-product-slider .owl-controls .owl-nav .owl-prev {
      left: 5px; }
    .box-product-slider .owl-controls .owl-nav .owl-next {
      right: 5px; }
    .box-product-slider .owl-controls .owl-nav [class*="owl-"] {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 35px;
      height: 35px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid #0e2b3d;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0e2b3d; }
      .box-product-slider .owl-controls .owl-nav [class*="owl-"]:hover {
        background-color: #0e2b3d;
        color: white; }
  .box-product-slider .block {
    text-align: center; }
    .box-product-slider .block a {
      font-size: 13px;
      font-weight: bold;
      margin-top: 15px;
      color: #0e2b3d;
      text-align: center;
      text-transform: uppercase; }
  .box-product-slider .item-product {
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
    max-height: 200px;
    height: 200px;
    border: 1px solid #0e2b3d;
    box-shadow: 0 0 3px 5px rgba(14, 43, 61, 0.5); }
    .box-product-slider .item-product a {
      height: 200px;
      display: flex;
      padding: 0;
      margin: 0; }
      .box-product-slider .item-product a img {
        display: flex;
        object-fit: cover; }

.text-primary {
  color: #0e2b3d; }

.box-vertical {
  margin-top: 5px;
  visibility: visible;
  position: relative;
  left: 0; }
  .box-vertical .box-title {
    background: url("../img/title_news.png") no-repeat center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
    z-index: 10;
    width: 100%;
    height: 57px;
    font: 18px/62px Tahoma, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
  .box-vertical .box-vertical-slider {
    width: 100%;
    height: 810px;
    overflow: hidden; }
    .box-vertical .box-vertical-slider ul {
      background: none repeat scroll 0 0 #F7F9F8;
      float: left;
      padding: 15px 12px;
      width: 340px; }
      .box-vertical .box-vertical-slider ul li {
        background: url("../img/bg_sp.jpg") no-repeat scroll 0 0 transparent;
        float: left;
        height: 270px !important;
        list-style-type: none;
        margin-left: 26px;
        text-align: center;
        overflow: hidden;
        width: 268px; }
        .box-vertical .box-vertical-slider ul li a {
          color: #0e2b3d;
          display: block;
          font: bold 15px/20px Tahoma;
          padding: 10px 10px 0;
          text-align: center;
          text-transform: uppercase; }
          .box-vertical .box-vertical-slider ul li a.img {
            overflow: hidden;
            height: 220px;
            display: flex; }
            .box-vertical .box-vertical-slider ul li a.img img {
              display: flex;
              object-fit: cover; }

.box-detail {
  position: relative;
  margin-top: 5px; }
  .box-detail .box-title {
    text-transform: uppercase;
    background: url("../img/tagtitle.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 16px;
    height: 39px;
    left: 9px;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    line-height: 48px;
    text-align: center;
    position: relative;
    background-size: 100% 100%;
    z-index: 1;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px; }
  .box-detail .box-content {
    padding: 40px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border: 1px solid #0e2b3d;
    border: 1px solid #0e2b3d;
    max-height: 820px;
    min-height: 820px;
    overflow-y: scroll;
    position: relative;
    text-align: justify; }
    .box-detail .box-content td {
      vertical-align: top !important; }
    .box-detail .box-content ul {
      list-style: none !important; }
    .box-detail .box-content p {
      font-size: 15px !important;
      color: black !important;
      padding: 0; }
    .box-detail .box-content span {
      color: black; }

.form-contact {
  margin-bottom: 20px;
  max-width: 100%; }
  .form-contact button {
    float: right; }

.box-post {
  border-radius: 10px;
  border: 1px solid #0e2b3d;
  padding-bottom: 10px; }
  .box-post .content {
    padding: 10px;
    margin-top: -20px;
    position: relative; }
    .box-post .content a.read-more {
      color: white;
      padding: 15px;
      background: url("../img/rm.png") no-repeat center;
      position: absolute;
      right: 5px;
      bottom: -15px; }
    .box-post .content li {
      font-size: 16px; }
      .box-post .content li:last-child {
        list-style: none; }
      .box-post .content li a {
        font-size: 14px;
        color: black; }
  .box-post .box-title {
    background: url("../img/title_news.png") no-repeat center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
    z-index: 10;
    width: 100%;
    height: 57px;
    font: 18px/62px Tahoma, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }

.item-post {
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .item-post .img-item a {
    margin-right: 10px;
    width: 120px;
    height: 100%;
    max-height: 100px;
    display: flex; }
    .item-post .img-item a img {
      border-radius: 3px;
      border: solid 2px silver;
      display: flex;
      object-fit: cover;
      object-position: center center; }
  .item-post .txt p {
    padding-bottom: 0;
    color: black; }

.text-center {
  text-align: center; }

.brand-logo {
  font-size: 25px;
  color: white;
  margin: auto;
  line-height: 20px;
  text-align: center; }
  .brand-logo small {
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-style: italic; }

#footer-wrapper.footer-light {
  border-top: unset;
  width: 100%;
  margin: auto; }
  #footer-wrapper.footer-light .center-content {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto; }
    #footer-wrapper.footer-light .center-content .w-left {
      width: 60%;
      margin-right: 50px; }
    #footer-wrapper.footer-light .center-content .w-right {
      width: 20%; }
  #footer-wrapper.footer-light.heading {
    margin-bottom: 0;
    background: #0e2b3d;
    padding-bottom: 20px;
    padding-top: 20px; }
    #footer-wrapper.footer-light.heading h4 {
      color: white; }
    #footer-wrapper.footer-light.heading p {
      margin: 0;
      padding-bottom: 0;
      font-size: 14px;
      color: white; }
      #footer-wrapper.footer-light.heading p a {
        color: white;
        font-size: 16px; }

.justify-content-center {
  justify-content: center;
  text-align: center;
  margin-top: 20px; }
  .justify-content-center i {
    font-style: italic;
    color: #0e2b3d; }

.slider {
  background-color: #0E2B3D4C; }
  .slider .home-slider {
    max-height: 350px;
    overflow: hidden;
    position: relative; }
    .slider .home-slider .img-slide a img {
      display: flex;
      object-fit: cover; }

.btn-order {
  background: #0e2b3d;
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
  text-transform: uppercase; }

@media (max-height: 467px) {
  .header-style02 {
    width: 1000px !important; }

  #footer-wrapper {
    width: 1000px !important; } }

/*# sourceMappingURL=custom.css.map */
