$primary-color: rgb(14, 43, 61);

html {
  overflow-x: hidden !important;
}

.body {
  overflow-x: hidden !important;
  margin: auto !important;
}


.container {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  width: 1000px;
  max-width: none !important;

  .left {
    width: 650px !important;
    float: left;
  }

  .right {
    width: 350px;
    float: right;
  }
}

.flag {
  margin-top: 10px;
  background-color: white;
  height: 25px;
  width: 200px;
  padding: 0 10px !important;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;

  li {
    float: unset;
    padding-right: 0 !important;

    &:first-child {
      a {
        padding-right: 20px;
      }
    }
  }
}

.d-flex {
  display: flex;

  &.flex-end {
    justify-content: flex-end;
  }

  &.space-center {
    justify-content: center;

  }

  &.space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}

.mt-20 {
  margin-top: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pr-1 {
  padding-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 6px;
}

.navbar-nav {
  display: flex !important;
  justify-content: space-between;
}

#top-bar-wrapper {
  border-bottom: 1px solid #ccc;
}

.navbar.nav-left {
  min-height: 45px;
}

.header-style02 {
  background: $primary-color;
  width: 100%;
  margin: auto;

  .logo {
    display: flex;
    height: auto;
    align-items: center;

    img.txt {
      height: 45px;
      width: auto;
    }
  }

  #quick-links {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-header {
    width: 100%;
    // float: left;
    padding-top: 0;
  }

  .header-bottom {
    height: 45px;
    position: relative;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 38px;
      width: 100%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      background: rgb(14, 43, 61);
      background: linear-gradient(0deg, rgba(14, 43, 61, 1) 0%, rgba(109, 157, 186, 1) 100%);
    }
  }


  .navbar-nav {
    height: 45px;
    bottom: 0;
    width: 100%;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 45px;

      a {
        font: 14px/43px Tahoma;
        color: #fff;
        float: left;
        padding: 0 10px;
        text-transform: uppercase;
        text-indent: 6px;

        &:hover, &.active {
          background: url("../img/r_mn.jpg") no-repeat center top;
          background-size: 100% 100%;
        }
      }
    }
  }

  ul {
    li {
      a {
        color: white !important;

        &:hover {
        }
      }

      .dropdown-menu {
        background: $primary-color;

        li {
          a {
            width: 100%;
            background: none !important;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .header-inner {
    padding: 0;
  }

}

.row {
  margin-bottom: 10px;
}

.navbar-collapse {
  float: none;
}

.social-icons {
  justify-content: center;
  display: flex;
  list-style: none;
  margin-top: 20px;

  li {
    margin: 0 5px;
    font-size: 20px;
  }
}

.list-skype {
  list-style: none;

  li {
    margin-bottom: 10px;

    a {
      img {
        margin-right: 10px;
      }

      color: white;
      display: flex;
    }
  }
}

.logo-content {
  .box-title {
    background: url("../img/gim.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 16px;
    height: 39px;
    left: 9px;
    margin-bottom: -20px;
    line-height: 39px;
    position: relative;
    text-align: center;
    width: 168px;
    z-index: 1;
  }

  .quick-link-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a, span {
      font-weight: bold;
      font-size: 15px;
      color: $primary-color;
    }
  }

  .box-logo {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $primary-color;
    position: relative;
    padding: 20px 30px 20px 45px;

    .owl-controls {
      .owl-nav {
        width: 100%;

        .owl-prev {
          left: -40px;
        }

        .owl-next {
          right: -20px;
        }

        [class*="owl-"] {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 35px;
          height: 35px;
          background: transparent;
          border-radius: 100%;
          border: 1px solid $primary-color;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary-color;

          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }

  .owl-item {
    margin-top: 10px;

    img {
      padding: 10px 15px;
      border: 2px solid $primary-color;
      border-radius: 10px;
      box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

.sys {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  .small-box {
    margin-top: 20px;
    height: 80px;
    width: 50%;

    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    &.bx-left {
      background: url("../img/sys_pp.png") no-repeat;
      margin-right: 5px;
    }

    &.bx-right {
      background: url("../img/poll.png") no-repeat;
      margin-left: 5px;
    }

    a {
      color: $primary-color;
      width: 45%;
      font-size: 12px;
      margin-right: 10px;
    }

  }

}

.col-50 {
  width: 49%;
  float: left;

  &.right {
    float: right;
  }
}

.box-product-slider {
  border-radius: 10px;
  border: 1px solid $primary-color;
  position: relative;
  padding: 15px 50px;

  .owl-controls {
    .owl-nav {
      width: 100%;

      .owl-prev {
        left: 5px;
      }

      .owl-next {
        right: 5px;
      }

      [class*="owl-"] {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 35px;
        height: 35px;
        background: transparent;
        border-radius: 100%;
        border: 1px solid $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }

  .block {
    text-align: center;

    a {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      color: $primary-color;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .item-product {
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
    max-height: 200px;
    height: 200px;
    border: 1px solid $primary-color;
    box-shadow: 0 0 3px 5px rgba(14, 43, 61, 0.5);

    a {
      height: 200px;
      display: flex;
      padding: 0;
      margin: 0;


      img {
        display: flex;
        object-fit: cover;
      }
    }
  }
}
.text-primary{
  color: $primary-color;
}
.box-vertical {
  margin-top: 5px;
  visibility: visible;
  position: relative;
  left: 0;

  .box-title {

    //border-top-left-radius: 10px;
    //border-top-right-radius: 10px;
    //margin-bottom: 0;
    background: url("../img/title_news.png") no-repeat center;
    //padding: 10px;
    //color: white;
    //font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
    z-index: 10;
    width: 100%;
    height: 57px;
    font: 18px/62px Tahoma, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  .box-vertical-slider {
    width: 100%;
    height: 810px;
    overflow: hidden;

    ul {
      background: none repeat scroll 0 0 #F7F9F8;
      float: left;
      padding: 15px 12px;
      width: 340px;

      li {
        background: url("../img/bg_sp.jpg") no-repeat scroll 0 0 transparent;
        float: left;
        height: 270px !important;
        list-style-type: none;
        margin-left: 26px;
        text-align: center;
        overflow: hidden;
        width: 268px;

        a {
          &.img {
            overflow: hidden;
            height: 220px;
            display: flex;

            img {
              display: flex;
              object-fit: cover;
            }
          }

          color: $primary-color;
          display: block;
          font: bold 15px/20px Tahoma;
          padding: 10px 10px 0;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}


.box-detail {
  position: relative;
  margin-top: 5px;

  .box-title {
    text-transform: uppercase;
    background: url("../img/tagtitle.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 16px;
    height: 39px;
    left: 9px;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    line-height: 40px;
    text-align: center;
    position: relative;
    background-size: 100% 100%;
    z-index: 1;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;

  }

  .box-content {
    padding: 40px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border: 1px solid $primary-color;
    border: 1px solid $primary-color;
    max-height: 820px;
    min-height: 820px;
    overflow-y: scroll;
    position: relative;
    text-align: justify;

    p {
      font-size: 15px !important;
      color: black !important;
    }

    span {
      color: black;
    }
  }
}

.form-contact {
  margin-bottom: 20px;
  max-width: 100%;

  button {
    float: right;
  }
}

.box-post {
  border-radius: 10px;
  border: 1px solid $primary-color;
  padding-bottom: 10px;

  .content {
    padding: 10px;
    margin-top: -20px;
    position: relative;

    a.read-more {
      color: white;
      padding: 15px;
      background: url("../img/rm.png") no-repeat center;
      position: absolute;
      right: 5px;
      bottom: -15px;
    }

    li {
      &:last-child {
        list-style: none;
      }

      font-size: 16px;

      a {
        font-size: 14px;
        color: black;
      }
    }
  }

  .box-title {

    //border-top-left-radius: 10px;
    //border-top-right-radius: 10px;
    //margin-bottom: 0;
    background: url("../img/title_news.png") no-repeat center;
    //padding: 10px;
    //color: white;
    //font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
    z-index: 10;
    width: 100%;
    height: 57px;
    font: 18px/62px Tahoma, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
}

.item-post {
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;

  .img-item a {
    margin-right: 10px;
    width: 120px;
    height: 100%;
    max-height: 100px;
    display: flex;

    img {
      border-radius: 3px;
      border: solid 2px silver;
      display: flex;
      object-fit: cover;
      object-position: center center;
    }
  }

  .txt {
    p {
      padding-bottom: 0;
      color: black;
    }
  }
}

.text-center {
  text-align: center;
}

.brand-logo {
  font-size: 25px;
  //background: -webkit-linear-gradient(#6d9dba, #335b74);
  //background: linear-gradient(#6d9dba, #335b74);
  //background: -moz-linear-gradient(#6d9dba, #335b74);
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  color: white;
  margin: auto;
}

#footer-wrapper.footer-light {
  border-top: unset;
  width: 100%;
  margin: auto;

  .center-content {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;

    .w-left {
      width: 60%;
      margin-right: 50px;
    }

    .w-right {
      width: 20%;
    }
  }

  &.heading {
    margin-bottom: 0;
    background: $primary-color;
    padding-bottom: 20px;
    padding-top: 20px;

    h4 {
      color: white;
    }

    p {
      margin: 0;
      padding-bottom: 0;
      font-size: 14px;
      color: white;

      a {
        color: white;
        font-size: 16px;
      }
    }
  }
}

.slider {
  background-color: #0E2B3D4C;

  .home-slider {
    max-height: 256px;
    overflow: hidden;
    position: relative;

    .img-slide {
      a {
        img {
          display: flex;
          object-fit: cover;
        }
      }
    }
  }

}

.btn-order {
  background: $primary-color;
  color: white;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 30px;
}

@media (max-height: 467px) {
  .header-style02 {
    width: 1000px !important;
  }
  #footer-wrapper {
    width: 1000px !important;
  }
}
