.language {
  .dropdown-toggle {
    //display: flex !important;

    &:after {
      right: -25px;
    }
  }
}

.service__icon {
  overflow: hidden;
  max-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__img {
  max-height: 320px;
}

.text-1 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-2 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-3 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-4 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-5 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post-item {
  .post__img {
    max-height: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.gallery {
  .gallery-item {
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    }
  }
}

.service-item .service__content {
  padding: 15px;

  .service__icon {
    img {
      max-height: 115px;
      display: flex;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.btn-action {
  border: solid 1px #0e2b3d;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.blog-grid {
  padding-top: 50px;
}

.post-item {
  border-radius: 20px;

  &.product-item {
    .post__content {
      padding: 0;

      .post__title {
        margin-bottom: 10px;
      }
    }
  }
}

.banner-layout5 {
  background-color: rgba(14, 43, 61, 0.5);
  .counters-light {
    margin-bottom: 200px;
    margin-top: 50px;
  }

  .txt-18 {
    font-size: 18px;
    text-align:center;
  }
}
.footer .footer-primary{
  padding-top:50px;
}
@media (max-width: 467px) {

  .video__btn-wrapper {
    position: absolute;
    left: 130px;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
  }
}
