<?php

use common\helper\HelperFunction;

$view->title = $model->name;

Yii::$app->params['header_style'] = true;
?>

@section('content')
    <?= $view->render('../parts/page-title.blade', [
        'title' => $model->defaultArchive->name,
        'text' => ''
    ]) ?>

@stop
