@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

$pink: #F16687;
$pink-2: #F599B1;
$yellow: #EEA731;
$yellow-2: #FFCD5B;
$purple: #883F71;
$bg-green: #367765;
$bg-green1: #E4F0D5;
$bg-green2: #f2f7e8;

$bg-blue: #D5E2E9;
$bg-yellow: #f3f5cb;
$bg-purple: #E1E9F6;
.wsmenu > .wsmenu-list > li > ul.sub-menu > li > a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu .link-list li a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu.halfmenu .link-list > li > a:before{
  color: $pink;
}
.fancy-spinner{
  .ring:nth-child(1){
    border-left-color: $pink!important;
    border-right-color: $pink!important;
  }
  .ring:nth-child(2){
    border-top-color: $pink!important;
    border-bottom-color: $pink!important;
  }
  .dot{
    background: $pink!important;
  }
}
.tra-header {
  font-family: 'Charmonman', cursive !important;
  color: $yellow;
}

.txt-color-01, .txt-color-05 {
  color: $purple;

  span, a {
    color: $purple;

  }
}

.txt-color-06, .txt-color-03 {
  color: $pink-2;

  a {
    color: $purple;
  }
}

.stars-rating i {
  color: $pink;
}

.btn-tra-01 {
  border-color: $pink !important;
  color: $pink !important;

  &.color-02-hover {
    &:hover {
      background: $pink;
    }
  }
}

.btn-color-02, .scroll .btn-color-02, .white-color .btn-color-02, .color-02-hover:hover, .scroll .color-02-hover:hover, .white-color .color-02-hover:hover {
  background-color: $pink;
  border-color: $pink;
}

.owl-theme .owl-dots .owl-dot {
  &.active {
    span {
      background: $yellow;
    }
  }

  span {
    border: 2px solid $yellow;

    &:hover {
      background: $yellow;
    }
  }
}

#scrollUp {
  background-color: $bg-green1;

  &:hover {
    background-color: $bg-green;
  }
}

.bg-color-02 {
  background: $bg-blue;
}

.bg-color-09, .btn-color-02 {
  background-color: $pink;
  border-color: $pink !important;

  &.color-01-hover {
    &:hover {
      background-color: $pink-2;
    }
  }
}

.ico-cart {
  i, span {
    color: $pink;
  }
}


html, body, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Da 2', cursive;
}

nav {
  a {
    font-weight: 600;
  }
}

.cart {
  .ico-cart {
    position: relative;

    i {
      font-size: 25px;
    }

    span {
      position: absolute;
      right: -10px;
      background: white;
      top: 15px;
      width: 20px !important;
      border: solid 1px #ccc;
      height: 20px;
      display: flex !important;
      align-items: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      font-size: 12px;
      font-weight: 500;
      justify-content: center;
    }
  }
}


.page-pagination {
  padding-bottom: 100px;

  .page-link {
    color: #efa697;
    font-weight: 600;
    padding: 9px 16px;
    margin: 0 3px;
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  .page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .page-item.disabled .page-link {
    color: #aaa;
    background-color: transparent;
    border-color: transparent;
  }

  .next-page.page-link1 {
    margin-left: 30px;
  }

  .page-link:hover,
  .page-item.active .page-link {
    background-color: #efa697;
    color: #fff;
    border-color: #efa697;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  }

  .page-link:focus {
    background-color: transparent;
    color: #666;
    border-color: transparent;
    box-shadow: 0 0;
  }
}

.ant-btn {
  &.custom {
    display: flex;
    align-items: center;
    padding: 22px;

    &:hover {
      background: transparent;
      color: #efa697 !important;
    }
  }
}

.ant-input-number {
  &.custom {
    height: 40px;
    line-height: 40px;
    font-size: 20px;

    &:hover, &:focus {
      border-color: #efa697;
      box-shadow: 0 0 0 2px rgba(239, 166, 151, 0.2);
    }
  }
}

.tab-custom {
  .nav-link {
    border: unset;
    background-color: #f7f4f0 !important;

    &:active {
      background-color: #f7f4f0 !important;
    }
  }
}
