@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;700&display=swap');

//@font-face {
//  src: url("../fonts/RedRose-VariableFont_wght.ttf") format('truetype');
//  font-family: "Red Rose";
//}

$icon-color: #636363;
$active-color: #E44126;
$pink: #F16687;
$pink-2: #F599B1;
$yellow: #EEA731;
$yellow-2: #FFCD5B;
$purple: #883F71;

$bg-green1: #E4F0D5;
$bg-green2: #f2f7e8;

$bg-yellow: #f3f5cb;
$bg-purple: #E1E9F6;

//new version design
$bg-xam: #F5F5F7;
$bg-lam: #D6E6EE;
$bg-lam2: #d7e2e8;
$bg-blue: #E2EBF7;
$bg-green: #F2F7E8;
$bg-green2: #E4F1D4;
$color-green: #367766;
$color-purple: #50254A;
$color-red: #e44126;
$color-pink: #e06f87;
$color-yellow: #f6c251;
$txt-color: #636363;
$txt-pink2: #F16687;
.wsmenu > .wsmenu-list > li > ul.sub-menu > li > a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu .link-list li a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu.halfmenu .link-list > li > a:before {
  color: $icon-color;
}

.navbar-dark .wsmenu > .wsmenu-list > li > a {
  color: $icon-color;
  font-size: 16px;
}

.fancy-spinner {
  .ring:nth-child(1) {
    border-left-color: $color-red !important;
    border-right-color: $color-red !important;
  }

  .ring:nth-child(2) {
    border-top-color: $color-red !important;
    border-bottom-color: $color-red !important;
  }

  .dot {
    background: $color-red !important;
  }
}

.ant-pagination-item-active {
  a {
    color: $color-red;
  }

  border-color: $color-red;
  color: $color-red;
}

.ant-pagination-item-active:focus-visible, .ant-pagination-item-active:hover {
  border-color: $color-red;
}

.ant-input-number:focus, .ant-input-number-focused, .ant-input-number:hover {
  border-color: $bg-green;
  box-shadow: 0 0 0 2px rgba(54, 119, 101, 0.2);
}

.ant-pagination-item-active:focus-visible a, .ant-pagination-item-active:hover a {
  color: $color-red;
}

.ant-btn-dangerous {
  color: $color-red;
  border-color: $color-red;
}

.tra-header {
  font-family: 'Red Rose', cursive;
  color: $bg-green;
}

.txt-color-01 {
  color: $pink;
}

.txt-color-05 {
  color: $purple;

  span, a {
    color: $purple;

  }
}

.txt-color-06, .txt-color-03 {
  color: $pink-2;

  a {
    color: $purple;
  }
}

.stars-rating i {
  color: $color-red;
}

.btn-tra-01 {
  border-color: $pink !important;
  color: $pink !important;

  &.color-02-hover {
    &:hover {
      background: $pink;
    }
  }
}

.btn-color-02, .scroll .btn-color-02, .white-color .btn-color-02, .color-02-hover:hover, .scroll .color-02-hover:hover, .white-color .color-02-hover:hover {
  background-color: $pink;
  border-color: $pink;
}

.owl-theme .owl-dots .owl-dot {
  &.active {
    span {
      background: white;
      width: 35px;
    }
  }

  span {
    border: 2px solid white;
    transition: 0.5s;

    &:hover {
      background: white;
    }
  }
}

#scrollUp {
  background-color: rgba(228, 65, 38, 0.1);

  &:hover {
    background-color: rgba(228, 65, 38, 0.5);
  }
}

.bg-lam {
  background: $bg-lam;
}

.bg-color-09, .btn-color-02 {
  background-color: $pink;
  border-color: $pink !important;

  &.color-01-hover {
    &:hover {
      background-color: $pink-2;
    }
  }
}

.ico-cart {
  i, span {
    color: $pink;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Rose', cursive;
}

//.section-about {
//  position: relative;
//
//  &:before {
//    position: absolute;
//    content: "";
//    width: 30%;
//    height: 12%;
//    background-image: url("../img/lahint.png");
//    background-size: 100%;
//    background-repeat: no-repeat;
//  }
//
//  &:before {
//    top: 500px;
//    right: 0;
//    z-index: 2;
//    background-position-x: left;
//    background-position-y: bottom;
//    -webkit-transform: rotate(-180deg);
//    -moz-transform: rotate(-180deg);
//    transform: rotate(-180deg);
//  }
//}

.footer {
  z-index: 3;

  h6 {
    font-family: arial, sans-serif;
  }
}

a, b, strong, p, span, small {

  font-family: arial, sans-serif;
}

nav {
  a {
    font-weight: 600;
  }
}

.text-3 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 48px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-1 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 16px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-2 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 25px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-4 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px; /* fallback */
  max-height: 96px; /* fallback */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}


.wsmenu > .wsmenu-list > li > a {
  text-transform: none;
}

.content-text {
  h2 {
    font-family: arial, sans-serif;
  }

  p.bold {
    //margin-top: 5px;
    margin-bottom: 5px;
  }

  p.small {
    margin: 0;
    font-size: 14px;
  }
}


#footer-1 {
  padding-top: 50px;
}

.breadcrumb {
  li {
    &.active {
      font-size: 14px;
      font-weight: bold;
    }

    a {
      font-size: 14px;
    }
  }
}

.divider {
  text-align: center;
  margin: auto;
  height: 4px;
  background-color: $color-red;

  &.w-50px {
    width: 50px;
  }
}

.cart {
  .ico-cart {
    position: relative;

    i {
      font-size: 25px;
    }

    span {
      position: absolute;
      right: -10px;
      background: white;
      top: 15px;
      width: 20px !important;
      border: solid 1px #ccc;
      height: 20px;
      display: flex !important;
      align-items: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      font-size: 12px;
      font-weight: 500;
      justify-content: center;
    }
  }
}


.page-pagination {
  padding-bottom: 50px;

  .page-link {
    color: #efa697;
    font-weight: 600;
    padding: 9px 16px;
    margin: 0 3px;
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  .page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .page-item.disabled .page-link {
    color: #aaa;
    background-color: transparent;
    border-color: transparent;
  }

  .next-page.page-link1 {
    margin-left: 30px;
  }

  .page-link:hover,
  .page-item.active .page-link {
    background-color: #efa697;
    color: #fff;
    border-color: #efa697;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  }

  .page-link:focus {
    background-color: transparent;
    color: #666;
    border-color: transparent;
    box-shadow: 0 0;
  }
}

.bold {
  font-weight: bold !important;
}

.ant-btn {
  &.custom {
    display: flex;
    align-items: center;
    padding: 22px;
    background: $txt-color;
    border: none;

    &:hover {
      background: $color-red;
      //color: white;
    }
  }
}

.ant-input-number {
  &.custom {
    height: 40px;
    line-height: 40px;
    font-size: 20px;

    &:hover, &:focus {
      border-color: #efa697;
      box-shadow: 0 0 0 2px rgba(239, 166, 151, 0.2);
    }
  }
}

#breadcrumb {
  .breadcrumb-nav {
    display: block;

    .breadcrumb-item {
      &::before,
      a,
      &.active {
        color: $txt-color;
        text-decoration: none;
      }
    }
  }
}

.tab-custom {
  .nav-link {
    border: unset;
    padding: 0;

    &:active {
      border-bottom: 2px solid $color-purple;
    }
  }
}

.slideshow2 {
  position: relative;
  z-index: 3;
}

.owl-dots {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
}

.bg-img03 {
  background: url('../img/bg/bg.png') center center no-repeat,
  url('../img/bg/la1.png') top right no-repeat,
  url('../img/bg/la2.png') bottom left no-repeat;
  background-size: cover, 30%, 30%;
  background-blend-mode: overlay;
}


.product-row {
  .product-title {
    font-size: 16px;
  }

  .title-cat {
    font-size: 36px;

    &.tim {
      a {
        color: $color-purple;
      }
    }

    &.do {
      a {
        color: $color-red;

      }
    }

    &.xanh {
      a {
        color: $color-green;
      }
    }
  }

  .list-item {
    width: 100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    &.column-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }

    li {
      margin-bottom: 10px;

      a {
        font-weight: bold;
      }
    }
  }
}

.xanh {
  color: $color-green;
}

.tim {
  color: $color-purple;
}

.bg-green2 {
  background: $bg-green2;

  .img-absolute {
    position: relative;

    img {
      position: absolute;
      max-width: 600px;
      left: -30%;
    }
  }
}

.do {
  color: $color-red;
}

.ml-1 {
  margin-left: 10px;
}

.pt-5 {
  padding-top: 50px;
}

.ml-2 {
  margin-left: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.align-top {
  align-items: flex-start;
}

.row-bg {
  position: relative;
  padding: 40px;
  margin: 40px 0px;

  &.bg-tim {
    &.bg-left {
      &:before {
        left: -5%;
      }
    }

    &.bg-right {
      &:before {
        right: -5%;
      }
    }

    &:before {
      content: '';
      background-color: $bg-purple;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
  }

  &.bg-xanh {
    &.bg-left {
      &:before {
        left: -5%;
      }
    }

    &.bg-right {
      &:before {
        right: -5%;
      }
    }

    &:before {
      content: '';
      background-color: $bg-green;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
  }

  &.bg-do {
    &.bg-left {
      &:before {
        left: -5%;
      }
    }

    &.bg-right {
      &:before {
        right: -5%;
      }
    }

    &:before {
      content: '';
      background-color: rgba(228, 65, 38, 0.27);
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
  }


}

#banner-bottom {
  margin-bottom: -100px;
  padding-left: 130px;

  .banner-img {
    overflow: hidden;
    display: flex;
    max-height: 400px;
    object-fit: cover;
  }
}

.banner-carousel {
  .owl-nav {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    display: flex;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

#blog-1 {
  padding-top: 50px;

  .post-carousel {
    .owl-nav {
      position: absolute;
      width: fit-content;
      top: -100px;
      right: 10px;
      display: flex;

      [class*="owl-"] {
        opacity: 1;
        width: 35px;
        height: 35px;
        background: white;
        border-radius: 100%;
        border: 1px solid $active-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-red;

        &:hover {
          background-color: $active-color;
          color: white;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        }
      }
    }
  }
}

.xam {
  color: $txt-color;
}

.bg-xam {
  background-color: $bg-xam;
}

.text-decoration-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.blog-post {
  background: white;

  &:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);

    a {
      color: $color-red;
    }
  }

  .blog-post-txt {
    margin-top: 0;
    padding: 20px;

    h5 {
      color: $txt-color;
      font-size: 16px;
      font-weight: 700;
      //min-height: 60px;
    }

    .excerpt {
      min-height: 78px;
    }

    p {
      font-weight: 400;
      color: $txt-color;
      font-size: 16px;

      &.do {
        color: $color-red;
      }
    }
  }
}

.search-head {
  position: relative;
  //min-width: 32px;

  input {
    width: 0;
    display: none;
    transition: 0.5s;
    padding-left: 32px;
    margin-top: 18px;
    border-top: none;
    border-left: none;
    border-right: none;

    &:focus {
      box-shadow: unset;
    }

    &.is_show {
      transition: 0.5s;
      display: block;
      width: 200px;
    }
  }

  img {
    transition: 0.5s;
    margin-top: 18px;
    position: relative;

    &.is_show {
      left: 0;
      top: 0;
      position: absolute;
    }
  }
}

.btn-default {
  border: solid 1px $txt-color;
  color: $txt-color;

  &:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  }
}

.list-shop {
  .col-text {
    height: 100%;
    align-items: center;

    .title {
      font-size: 50px;
    }

    .content-text {
      width: 90%;

      &.margin-left {
        text-align: left;
        float: right;
        margin-right: -100px;
      }

      &.margin-right {
        margin-left: -100px;
        text-align: left;
      }
    }
  }

}

.gallery-carousel {
  .blog-post {
    .gallery-name {
      padding: 10px;
    }
  }

}

.contact-bg {
  padding-bottom: 50px;
  background-position: center;
  margin-top: 80px;
  background-image: url('../img/bg/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }
}

#main-thumb {
  max-height: 530px;
  overflow: hidden;
}

.page-pagination {
  margin-top: 50px;
}

.list-layout1 {
  .number {
    margin-left: 50px;
    // text-align: justify;

    &.text-left {
      h4 {
        text-align: left;
      }
    }

    &.txt-right {
      margin-left: 0;
      margin-right: 50px;
      text-align: right;

      h4 {
        text-align: right;
      }

      h1 {
        text-align: right;

        &:before {
          display: none;
        }

        &::after {
          position: absolute;
          content: '';
          height: 2px;
          right: -100px;
          width: 100px;
          top: 50px;
          border-bottom: 1px solid $color-purple;
        }
      }
    }

    h1 {
      font-size: 100px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 2px;
        left: -100px;
        width: 100px;
        top: 50px;
        border-bottom: 1px solid $color-purple;
      }
    }
  }

  .btn-action {
    background: transparent;
    width: 50%;
    text-align: center;
    margin: 10px 0px;
    border: 1px solid $txt-color;
    padding: 5px 15px;

    &:hover {
      background: $color-red;
      font-weight: bold;
      color: white;
      border: 1px solid $color-red;
    }
  }
}

.bg-brand {
  background: $color-red;
}

.btn-contact {
  background: transparent;
  text-align: center;
  margin: 10px 0px;
  border: 1px solid $txt-color;
  padding: 5px 45px;
  float: right;

  &:hover {
    background: $color-red;
    font-weight: bold;
    color: white;
    border: 1px solid $color-red;
  }
}

.other-product {
  margin: 20px 0;

  .block-product {
    margin: 20px 0;

    .text {
      text-align: center;
      margin-top: 10px;

      a.title {
        font-size: 18px;
        font-weight: bold;
        color: $txt-color;
      }

      .price {
        margin: 0;
        font-size: 16px;
      }
    }

    .img {
      max-height: 365px;
      min-height: 365px;
      height: 100%;
      width: 100%;
      position: relative;
      display: -moz-inline-box;
      display: -webkit-box;

      img {
        display: flex;
        object-fit: cover;
      }

      &:hover {
        .action {
          //width: 100%;
          //opacity: 1;

          .btn-action {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;

            &:nth-child(0) {
              -webkit-transition-delay: 0s;
              -o-transition-delay: 0s;
              transition-delay: 0s;
            }

            &:nth-child(0) {
              -webkit-transition-delay: .15s;
              -o-transition-delay: .15s;
              transition-delay: .15s;
            }
          }
        }
      }

      .action {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        .btn-action {
          .tool-tip {
            position: absolute;
            background: #000;
            text-align: center;
            padding: 8px 12px;
            z-index: 3;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: opacity .6s, margin .3s;
            -o-transition: opacity .6s, margin .3s;
            transition: opacity .6s, margin .3s;
            white-space: pre;
            font-size: 13px;
            line-height: 14px;
            top: -30px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            color: #fff;
            border-radius: 2px;

            &:after {
              border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;
              border-style: solid;
              border-width: 5px 0 5px 5px;
              content: "";
              height: 0;
              position: absolute;
              bottom: 10px;
              left: 50%;
              width: 0;
              bottom: -6px;
              -webkit-transform: translateX(-50%) rotate(90deg);
              -ms-transform: translateX(-50%) rotate(90deg);
              transform: translateX(-50%) rotate(90deg);
            }
          }

          &:nth-child(0) {
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
          }

          &:nth-child(1) {
            -webkit-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }

          width: 45px;
          height: 45px;
          line-height: 48px;
          background-color: #fff;
          text-align: center;
          border-radius: 50%;
          font-size: 20px;
          margin-left: 7px;
          margin-right: 7px;
          color: #000;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s;
          opacity: 0;
          -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
          transform: translateY(20px);

          &:hover {
            background: white;
            font-weight: bold;

            .tool-tip {
              visibility: visible;
              opacity: 1;
              top: -35px;
            }
          }
        }
      }
    }

  }
}

.testimonial-carousel {
  .owl-dots {
    display: none;
  }

  .text-paper {
    p {
      margin-bottom: 0;

      &:first-child {
        color: black;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
      }

      &:nth-child(2) {
        font-size: 15px;
      }

      &.actor {
        margin-top: 20px;
        font-size: 15px;
        color: black;
        font-weight: bold;

        span {
          font-weight: normal;
          color: #7d7a7a;
        }
      }
    }
  }

  .owl-nav {
    width: 7%;
    position: absolute;
    right: 40%;
    bottom: 40px;

    &:before {
      position: absolute;
      content: "|";
      left: 0;
      right: 0;
      top: 10px;
      font-size: 20px;
    }

    [class*=owl-] {
      position: absolute;
      height: 30px;
      width: 30px;
      background: none;
      color: black;
      font-size: 25px;

      &:hover {
        background: none;
        color: black;
      }
    }

    &:hover {
      background: unset;
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }
}

.wrap-paper {
  padding: 20px;
  border-radius: 15px;
  border: 1px $pink solid;

  .owl-dots {
    width: 30%;
    right: 10%;
    left: unset;
    bottom: 0px;

    .owl-dot {
      &:hover, &.active {
        span {
          background: #CCC;
        }
      }

      span {
        border: 2px solid #CCC;
      }
    }
  }

  .owl-nav {
    width: 30%;
    position: absolute;
    right: 10%;
    bottom: 30px;

    div[class^="owl"] {
      position: absolute;
      height: 30px;
      width: 30px;
      background: none;

      &:hover {
        background: unset;
      }

      i {
        font-size: 30px;
        color: black;
      }
    }

    .owl-prev {
      left: -20px;
    }

    .owl-next {
      right: -20px;
    }
  }

  .text-paper {
    p {
      margin-bottom: 0;

      &:first-child {
        color: #a5a3a3;
        margin-bottom: 10px;
      }

      &:nth-child(2) {
        color: black;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
      }

      &:last-child {
        font-size: 15px;
      }
    }
  }
}

.gtcl {
  background-color: $bg-lam2;

  ul.text-icon {
    li {
      display: flex;
      align-items: start;
      justify-content: space-between;

      img {
        min-width: 24px;
      }

      p {
        padding-left: 10px;
        text-align: left;
      }
    }
  }

  .content {
    padding: 20px;
    min-height: 352px;
    height: 100%;

    &.bg-1 {
      background-color: #f1f8e0;
    }

    &.bg-2 {
      background-color: #f9f8df;
    }

    &.bg-3 {
      background-color: #f2f7e9;
    }
  }

  h2.hong {
    color: $color-pink;
    text-transform: uppercase;
  }

  .icon-top {
    text-align: center;
    margin-bottom: 10px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;

    &.do {
      color: $color-red;
    }

    &.xanh {
      color: $color-green;
    }

    &.vang {
      color: $color-yellow;
    }
  }


  &.invent {
    background-image: url("../img/invent/pnk.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;

    .owl-nav {
      div[class^="owl"] {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background: none;
        border: 1px solid $pink;

        i {
          color: $pink;
        }
      }

      .owl-prev {
        left: -20px;
      }

      .owl-next {
        right: -20px;
      }
    }

    .content {
      background: none;

      p {
        font-size: 14px;
        text-align: center;
      }
    }

    .icon-top {
      padding: 0 40px;
    }
  }

}

.section-title {
  h3 {
    margin-bottom: 0;
  }

  h2 {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.about-janami {
  strong {
    font-weight: bold;
  }

  .content {
    p {
      font-size: 14px;
    }
  }
}

.list-logo {
  .img {
    width: 150px;
    height: 150px;
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;

    img {
      display: flex;
      object-position: center;
      object-fit: cover;
    }
  }
}

.owl-carousel {
  &.hide-navigation {
    .owl-nav {
      display: none;
    }
  }
}

.pdf-viewer {
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  .pdf-action {
    width: 100%;

    .page {
      position: absolute;
      right: 20px;
      bottom: 20px;
      z-index: 1;
      color: white;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.6);
    }

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 40px;
      height: 40px;
      background: none;
      border-radius: 100%;
      border: 1px solid #FFF;
      color: white;
      font-size: 20px;
      background: rgba(0, 0, 0, 0.6);

      &#prev {
        left: 5px;
      }

      &#next {
        right: 5px;
      }
    }
  }
}

.header-wrapper {
  background: transparent;
}

.wsmainfull {
  background-color: transparent !important;
}

.hero-section {
  min-height: 592px;
  background: white;

  .owl-item {
    &.active {
      z-index: 999;
    }

    img {
      //animation: slide 25s infinite;
      //-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
      //animation-timing-function: linear;
      //opacity: 0;
    }
  }
}

.txt-brand {
  color: #E44126;
}

.txt-pink2 {
  color: $txt-pink2;
}

.txt-green {
  color: #367766;
}

.txt-purple {
  color: #50254A;
}

.btn-brand {
  border: 1px solid #E44126;
  color: #E44126;
}

.item-product-home {
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  min-height: 417px;

  &:hover {
    background: white;

    //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    .img {
      img {
        transform: scale(1.1);
      }
    }
  }

  .img {
    max-height: 276px;
    height: 276px;
    overflow: hidden;

    img {
      display: flex;
      object-fit: cover;
      transition: ease-in-out 0.5s;
    }
  }

  .product-info {
    margin-top: 20px;
    padding: 10px;
    text-align: center;

    p {
      font-family: arial, sans-serif;
    }

    .product-name {
      font-size: 20px;
      max-height: 24px;
      margin-bottom: 0;
      font-weight: bold;
      color: #636363;
      line-height: 24px;

      &:hover {
        a {
          color: #E44126;
          text-decoration: underline;
        }
      }
    }

    .product-price {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 16px;
      color: #636363;
    }
  }
}

.owl-dot-green {
  .owl-dots {
    bottom: -10%;

    .owl-dot {
      span {
        border-color: #ccc;
        background: #ccc;
      }

      &.active {
        span {
          border-color: #367766;
          background: #367766;
        }
      }
    }
  }
}

.owl-dot-brand {
  .owl-dots {
    bottom: -10%;

    .owl-dot {
      span {
        border-color: #ccc;
        background: #ccc;
      }

      &.active {
        span {
          border-color: $active-color;
          background: $active-color;
        }
      }
    }
  }
}

.section-products {
  background-image: url("../img/bgpartent.jpg");
  background-repeat: repeat;
  background-size: cover;

  h4 {

    font-size: 36px;
    margin-top: 30px;
  }

  .archive-home {
    nav {
      width: fit-content;
      margin: auto;
      align-items: center;
      border-bottom: unset;
      padding-bottom: 50px;
      //overflow-x: scroll;
      //overflow-y: hidden;
      justify-content: center;
      flex-flow: row wrap;

      .nav-link {
        background: #C7C7C7;
        color: white;
        margin: 5px 25px;
        border-radius: 50px;
        font-size: 14px;
        padding: 5px 20px;
        border: unset;
        position: relative;

        //&:nth-child(2n):not(:last-child):after {
        //  content: '';
        //  width: 30px;
        //  height: 30px;
        //  position: absolute;
        //  right: -40px;
        //  top: 0;
        //  background-image: url("../img/item-license.svg");
        //  background-repeat: no-repeat;
        //  background-position: center;
        //}

        //&:nth-child(2n):before {
        //  content: '';
        //  width: 30px;
        //  height: 30px;
        //  position: absolute;
        //  left: -40px;
        //  top: 0;
        //  background-image: url("../img/item-license.svg");
        //  background-repeat: no-repeat;
        //  background-position: center;
        //}


        //&:nth-last-child(2):after {
        //  content: '';
        //  width: 30px;
        //  height: 30px;
        //  position: absolute;
        //  right: -40px;
        //  top: 0;
        //  background-image: url("../img/item-license.svg");
        //  background-repeat: no-repeat;
        //  background-position: center;
        //}

        //&:last-child:before {
        //  display: none;
        //}

        &:not(:first-child):before {
          content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          left: -40px;
          top: 0;
          background-image: url("../img/item-license.svg");
          background-repeat: no-repeat;
          background-position: center;
        }

        &.active, &:hover {
          background: $active-color;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .block-products {
    padding-top: 100px;
    padding-bottom: 250px;
    background-color: rgba(228, 65, 38, 0.1);
  }

  .block-box {
    .box-technology {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 60px 40px;
      margin-top: -150px;
      margin-bottom: -150px;
      background-color: #DDDDDD;
      background-image: url("../img/bg-tech.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 2;

      h4 {
        margin: 20px 0;
        font-size: 36px;
      }

      .owl-dots {
        bottom: 50px;
      }

      ul {
        max-height: 300px;
        overflow-y: auto;

        li {
          padding: 7px 0;
          font-size: 16px;
          color: #636363;
          font-weight: 500;
          border-bottom: solid 1px #DDDDDD;

          img {
            transition: 0.5s;
          }

          a {
            font-size: 16px;
            color: #636363;
            text-transform: uppercase;
          }

          &:hover, &.active {
            a {
              font-weight: bold;
              color: $active-color;
            }

            img {
              transform: rotate(360deg);
            }
          }
        }
      }

      .tech-img {
        position: relative;

        .tech-content {
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          display: flex;
          align-items: center;
          left: 0;
          padding: 15px;
          background: rgba(0, 0, 0, 0.5);

          p, span, b {
            font-family: arial, sans-serif;
            color: white;
            border: none;
          }

          ul {
            list-style: disc;
            padding-left: 20px;

            li, p, span, b {
              font-family: arial, sans-serif;
              color: white;
              border: none;
            }
          }
        }
      }
    }
  }
}

.footer-links {
  a {
    color: #636363;

    &:hover {
      color: $active-color;
      font-weight: bold;
    }
  }
}

.bottom-footer-list {
  a {
    i {
      color: #636363;
    }

    &:hover {
      i {
        color: $active-color;
        font-weight: bold;
      }
    }
  }
}

.footer-contacts {
  p {
    color: #636363;
    display: flex;
    width: 83%;
  }

  a {
    color: #636363;

    &:hover {
      color: $active-color;
      font-weight: bold;
    }
  }

  .icon-bx {
    width: 30px;
    min-width: 30px;
  }
}

//.section-tech {
//  background-image: url("../img/bgpartent.png");
//  background-repeat: repeat;
//  background-size: cover;
//  .box-technology {
//    margin-top: -150px;
//    margin-bottom: -150px;
//    padding: 100px 0;
//    background-image: url("../img/bg-tech.png");
//    background-repeat: no-repeat;
//    background-size: cover;
//    position: relative;
//    z-index: 2;
//
//    h4 {
//      margin: 20px 0;
//      font-size: 36px;
//    }
//
//    //&:before, &:after {
//    //  position: absolute;
//    //  content: "";
//    //  background-repeat: no-repeat;
//    //}
//    //
//    //&:before {
//    //  background-image: url("../img/la1.png");
//    //  top: -50px;
//    //  left: -25px;
//    //  width: 100px;
//    //  height: 100px;
//    //  background-size: contain;
//    //}
//    //
//    //&:after {
//    //  background-image: url("../img/la2.png");
//    //  bottom: -60px;
//    //  right: -100px;
//    //  width: 200px;
//    //  height: 200px;
//    //  background-size: 100% 100%;
//    //}
//
//    .owl-dots {
//      bottom: 50px;
//    }
//
//    ul {
//
//      li {
//        padding: 10px 0;
//        font-size: 16px;
//        color: #636363;
//        font-weight: 500;
//        border-bottom: solid 1px #DDDDDD;
//
//        a {
//          font-size: 16px;
//          color: #636363;
//          text-transform: uppercase;
//
//          &:hover {
//            font-weight: bold;
//            color: $active-color;
//          }
//        }
//      }
//    }
//  }
//}

.section-license {
  background-color: #FFF8F8;
  position: relative;
  padding-top: 240px;
  padding-bottom: 100px;
  z-index: 1;

  &.no-bg {
    background: none;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .invention-carousel {
    .owl-nav {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      display: flex;

      .owl-prev {
        top: calc(100% / 2 - 17.5px);
        right: 100%;

        &:hover {
          background-color: $active-color;
          color: white;
        }
      }

      .owl-next {
        top: calc(100% / 2 - 17.5px);
        left: 100%;

        &:hover {
          background-color: $active-color;
          color: white;
        }
      }
    }

    .owl-nav [class*="owl-"] {
      width: 35px;
      height: 35px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid #E44126;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E44126;
      position: absolute;
    }
  }
}

.section-seeding {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  background-image: url("../img/hint2.jpg"), url("../img/hint1.jpg");
  background-size: 50%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: right 0 top -12px, left 0 bottom -12px;

  h4 {
    text-align: center;
  }

  .item-newspaper {
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 97%;

    .img {
      max-height: 300px;
      height: 300px;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        display: flex;
        object-fit: cover;
        align-items: center;
      }
    }

    .content {
      padding: 10px 15px;
      min-height: 220px;
    }
  }
}

.wsmainwp {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  position: relative;
}

.section-why {
  background-color: rgba(228, 65, 38, 0.5);
  // background-image: url("../img/bg-why.png");
  background-blend-mode: hard-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  position: relative;
  padding: 100px 0;

  //&:before, &:after {
  //  content: "";
  //  width: 100px;
  //  height: 100px;
  //  position: absolute;
  //  background-repeat: no-repeat;
  //}
  //
  //&:before {
  //  background-image: url("../img/la4.png");
  //  background-size: contain;
  //  right: 15%;
  //  top: -50px;
  //}
  //
  //&:after {
  //  background-image: url("../img/la5.png");
  //  background-size: 100% 100%;
  //  left: 5%;
  //  top: 50px;
  //  width: 150px;
  //  height: 150px;
  //}
  h4 {
    margin: 40px 0;
    font-size: 36px;
  }

  .item-why {
    background: white;
    width: 100%;
    height: 350px;
    padding: 40px 10px 10px;
    position: relative;


    img {
      transition: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }

    &:hover {
      img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      }

      svg {
        rect {
          fill: $active-color;

          .path {
            fill: white;
          }
        }
      }
    }

    img {
      height: 100px;
    }

    a {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    p {
      color: #363636;
      font-size: 14px;

      &.title {
        font-size: 18px;
        color: $active-color;
        font-weight: bold;
        margin-top: 40px;
      }
    }

    &:hover {
      //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.section-blog {
  position: relative;
  margin-bottom: -200px;
  z-index: 2;

  h4 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  //
  //&:before, &:after {
  //  content: "";
  //  width: 100px;
  //  height: 100px;
  //  position: absolute;
  //  background-repeat: no-repeat;
  //}
  //
  //&:before {
  //  background-image: url("../img/la6.png");
  //  background-size: 100% 100%;
  //  right: 0;
  //  top: -200px;
  //  width: 200px;
  //  height: 400px;
  //  z-index: -1;
  //}
  //
  //&:after {
  //  background-image: url(../img/la7.png);
  //  background-size: contain;
  //  left: 7%;
  //  bottom: -45px;
  //  width: 100px;
  //  height: 100px;
  //  z-index: 1;
  //}

  .blog-post {
    background: #F7F7F7;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    img {
      transition: ease 0.5s;
    }

    h5 {
      line-height: 25px;
      font-size: 18px;
      max-height: 50px;
    }

    .excerpt {
      line-height: 25px;
      max-height: 75px;
    }

    &:hover {
      img {
        transform: rotate(15deg) scale(1.4);
      }
    }

    .blog-post-img {
      max-height: 200px;
      height: 200px;
      overflow: hidden;

      a {
        display: flex;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.single-post-txt {
  img {
    max-width: 100% !important;
  }
}

.video-box {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 380px;
  background: #000000;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
  }

  img {
    display: flex;
    object-fit: cover;
  }

  .video-block-wrapper {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-btn {
    width: 78px;
    height: 78px;
  }

  .video-btn i {
    color: black;
    font-size: 25px;
    margin: 0;
  }
}

.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/lahint.png");
    background-size: 20%;
    background-repeat: no-repeat;
  }

  &:after {
    top: -30px;
    right: 0;
    z-index: -1;
    background-position-x: left;
    background-position-y: bottom;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  &:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    background: #F7F7F7;
    z-index: -1;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    max-height: 128px;
  }
}

.section-register {
  padding-top: 200px;
  background-color: rgba(228, 65, 38, 0.1);
  background-image: url("../img/lahint.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100px;
  font-family: arial, sans-serif;

  .call-txt {
    margin: 32px 0;
  }

  //&:before, &:after {
  //  content: "";
  //  width: 100px;
  //  height: 100px;
  //  position: absolute;
  //  background-repeat: no-repeat;
  //}
  //
  //&:after {
  //  background-image: url(../img/la8.png);
  //  background-size: contain;
  //  right: 7%;
  //  bottom: 10%;
  //  width: 100px;
  //  height: 100px;
  //  z-index: 1;
  //}

}

.form-holder {
  margin-bottom: 80px;

  input {
    height: 45px !important;
    color: #636363;
    font-family: arial, sans-serif;
  }

  textarea {
    color: #636363;
    font-family: arial, sans-serif;
    min-height: 100px !important;
  }

  input, textarea {
    border-radius: unset !important;
    background: white;
    border-color: white !important;
  }

  button {
    float: unset;
    border-color: #E44126;
    background: #E44126;
    color: white;
    font-weight: bold;
    padding: 10px 80px;
  }
}

.size-18 {
  font-size: 18px;
}

.thumb-item {
  &.active {
    img {
      border: 1px solid #E44126;
      border-radius: 3px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.white-menu {
  .wsmainfull {
    background-color: transparent !important;
    padding: 6px 0;
    box-shadow: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wsmainwp {
      margin: 0 auto;
      max-width: 1140px;
      padding: 0 15px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wsmenu {
        width: auto;
        float: unset;

        li.nl-simple:hover, li.nl-simple.active {
          > a {
            position: relative;
            color: #E44126;

            &:before {
              content: '';
              position: absolute;
              bottom: 20px;
              left: 0;
              right: 0;
              margin: auto;
              width: 80%;
              height: 1px;
              background: #E44126;
            }
          }
        }
      }
    }
  }

}

.list-thumb {
  list-style: none;
  padding: 0;
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

.wsmobileheader {
  display: none;
  align-items: center;
  justify-content: space-between;

  .social-icons {
    display: none;

    a {
      margin-right: 10px;
    }

    i {
      color: #615f5f;
      font-size: 32px;
    }
  }
}

@media (max-width: 467px) {

  .nl-simple {
    .wsmenu-click {
      //position: relative !important;
      float: right !important;
      width: 50px !important;
      // border: 1px solid #ccc;
      z-index: 10;
    }

    > a {
      z-index: 9;
      // width: 80%;
    }

    .sub-menu {
      box-shadow: unset !important;
    }
  }

  .sm-center {
    text-align: center;
  }
  .wsmobileheader {
    display: flex;

    .social-icons {
      display: block;
    }
  }
  .list-thumb {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 10px;
    overflow-y: hidden;
    overflow-x: auto;

    li {
      max-width: calc(100% / 5);
    }
  }
  .owl-dot-green {
    .owl-dots {
      bottom: 0;
    }
  }
  .item-product-home {
    .img {
      max-height: 100%;
      height: 100%;
    }
  }
  .bottom-footer-list {
    p {
      &:after {
        display: none;
      }
    }

    i {
      display: block !important;
      font-size: 30px !important;
    }
  }
  .cart-mobile {
    a {
      display: flex;
      align-items: center;
    }
  }
  .wsmenu {
    li {
      &.active {
        a {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .cart.cart-desktop {
    display: none;
  }
  .hero-section {
    min-height: 170px !important;
  }
  .section-about {
    padding-top: 30px;

    &:before {
      display: none;
    }

    h1 {
      font-size: 25px;
    }

    text-align: center;

    .video-box {
      margin-top: 30px;
    }
  }
  .section-products {
    .block-products {
      padding-top: 20px;
      padding-bottom: 180px;

      .owl-dots {
        bottom: 0%;
      }

      h4 {
        font-size: 25px;
      }

      .archive-home {
        nav {
          margin-bottom: 20px;
        }

        a.nav-link {
          width: 45%;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 5px;

          &:before {
            display: none;
            margin: 5px;
          }
        }
      }
    }

    .block-box {
      .box-technology {
        padding: 15px;

        .top-icon {
          text-align: center;
        }

        h4 {
          font-size: 25px;
          text-align: center;
        }
      }
    }
  }
  .section-license {
    padding-bottom: 50px;

    h4 {
      font-size: 18px;
    }

    .license-item {
      margin-top: 50px;
    }

    .invention-carousel {
      .owl-prev {
        right: 90% !important;
      }

      .owl-next {
        left: 90% !important;
      }
    }

  }
  .section-seeding {
    padding-top: 50px;
    padding-bottom: 50px;

    .item-newspaper {
      width: 100%;

      //.img {
      //  max-height: 227px;
      //  overflow: hidden;
      //}
    }

    .owl-dots {
      bottom: -20px;
    }

    .guest {
      margin-top: 50px;
    }
  }
  .section-why {
    padding: 50px 0;
    text-align: left !important;

    h4 {
      font-size: 23px;
      margin: 20px 0;
      text-align: center;
    }

    .item-why {
      margin-bottom: 20px;
    }
  }
  .section-blog {
    h4 {
      font-size: 25px;
    }

    .owl-nav {
      top: -80px !important;
    }
  }
  .blog-post .blog-post-txt {
    padding: 10px;
  }
  .product-row .title-cat {
    font-size: 24px;
    font-weight: bold;
  }
  .list-layout1 {
    .number {
      margin-left: 0;

      &.txt-right {
        margin-right: 0;
      }
    }

  }
  .list-shop {
    .content-text {
      padding: 20px;
      width: 100% !important;

      &.margin-left, &.margin-right {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      a {
        margin-top: 10px;
      }
    }
  }

  #banner-bottom {
    margin-bottom: 0 !important;
    padding-left: 0 !important;

    .banner-img {
      overflow: hidden;
      max-height: 240px;
      object-fit: cover;
    }
  }

  #blog-1 {
    padding-top: 15px !important;
  }
  .img-absolute {
    img {
      position: relative !important;
      width: 100% !important;
      left: 0 !important;
    }
  }
  .gtcl {
    padding-top: 30px;

    .content {
      margin-bottom: 20px;
    }
  }
  .row-bg {
    padding: 20px 0 !important;

    &:before {
      width: 100% !important;
      left: 0 !important;
    }
  }

  .list-item {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1;
    column-count: 1;

    &.column-2 {
      -webkit-column-count: 1 !important;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
}

.scrollbar-macos {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
    }

    &::-webkit-scrollbar-track {
      background-color: #babac0;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    //background-color: #babac0;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.hvr-sweep-to-right:before {
  background-color: #E44126;;
}

strong {
  font-weight: bold;
}

.tab-content, .single-blog-post {
  table {
    width: auto;

    td {
      padding-left: 10px;
    }

    tbody, td, tfoot, th, thead, tr {
      border-width: 1px;
      border-style: solid;
      border-color: initial;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: arial, sans-serif;

    p, span, li, a, figcaption {
      font-size: inherit;
    }
  }

  .tbody {
    padding: 10px;
  }

  p, span, small, strong, a, b, li, figcaption {
    //font-size: initial;
    font-family: arial, sans-serif !important;
  }
}

.brochure {

  .book {
    position: relative;
    padding: 0;
  }

  #flipcontent {
    position: absolute;
  }

  #placeholder {
    position: absolute;
    background-color: ghostwhite;
  }

  #pages .turn-page {
    background-color: ghostwhite;
    background-image: url("https://dl.dropboxusercontent.com/s/oh5bf07zgkkj843/paper_texture.jpg?dl=0");
    background-size: cover;
  }

  .quote-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em 2em 2em;
    font-family: "Kaushan Script";
    color: #32538c;
  }

  .quote-content blockquote {
    border-left: none;
  }

  .quote-content blockquote > footer {
    color: #5d7194;
  }

  .quote-content .share-links {
    margin-top: 1em;
  }

  .quote-content .share-links a {
    outline: 0;
  }

  .quote-content .share-links a > i {
    font-family: "Engagement";
    font-size: 1.2em;
    margin-left: 0.3em;
  }

  .flip-control {
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flip-control .fa {
    color: ghostwhite;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .flip-control span.fa {
    font-size: 4em;
  }

  .flip-control .fa-stack {
    font-size: 1.8em;
  }

  .flip-control .fa:hover,
  .flip-control .fa-stack:hover .fa {
    color: lightgoldenrodyellow;
  }

  .flip-control span.fa:hover {
    font-size: 4.5em;
  }

  .flip-control .fa-stack:hover {
    font-size: 2em;
  }

  #prev-button.unactive .fa {
    color: rgba(200, 200, 200, 0.8);
    text-shadow: 3px 3px 3px rgba(100, 100, 100, 0.4);
  }
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item .blog-post {
  width: auto;
  height: calc(100% - 50px)
}

.single-blog-post, #blog-page {
  img {
    max-width: 100% !important;
    height: auto;
  }

  span, p {
    min-font-size: 16px !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

.popular-posts {
  &.pl-0 {
    padding-left: 0;
  }

  .pr-0 {
    padding-right: 0;
  }

  .img {
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;

    img {
      width: 100% !important;
      height: 100% !important;
      display: flex;
      object-fit: cover;
    }
  }
}

.form-search {
  position: absolute;
  bottom: -55px;
  width: 400px;
  right: 20px;
  display: none;
  transition: 0.5s;
  height: 55px;

  &.is_show {
    display: block;
  }
}

.mce-visual-care, .mce-offscreen-selection {
  display: none;
}

figure {
  &.align-center {
    text-align: center;

    figcaption {
      text-align: center;
    }
  }
}
