@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
.wsmenu > .wsmenu-list > li > ul.sub-menu > li > a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu .link-list li a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu.halfmenu .link-list > li > a:before {
  color: #F16687; }

.fancy-spinner .ring:nth-child(1) {
  border-left-color: #F16687 !important;
  border-right-color: #F16687 !important; }
.fancy-spinner .ring:nth-child(2) {
  border-top-color: #F16687 !important;
  border-bottom-color: #F16687 !important; }
.fancy-spinner .dot {
  background: #F16687 !important; }

.tra-header {
  font-family: 'Charmonman', cursive !important;
  color: #EEA731; }

.txt-color-01, .txt-color-05 {
  color: #883F71; }
  .txt-color-01 span, .txt-color-01 a, .txt-color-05 span, .txt-color-05 a {
    color: #883F71; }

.txt-color-06, .txt-color-03 {
  color: #F599B1; }
  .txt-color-06 a, .txt-color-03 a {
    color: #883F71; }

.stars-rating i {
  color: #F16687; }

.btn-tra-01 {
  border-color: #F16687 !important;
  color: #F16687 !important; }
  .btn-tra-01.color-02-hover:hover {
    background: #F16687; }

.btn-color-02, .scroll .btn-color-02, .white-color .btn-color-02, .color-02-hover:hover, .scroll .color-02-hover:hover, .white-color .color-02-hover:hover {
  background-color: #F16687;
  border-color: #F16687; }

.owl-theme .owl-dots .owl-dot.active span {
  background: #EEA731; }
.owl-theme .owl-dots .owl-dot span {
  border: 2px solid #EEA731; }
  .owl-theme .owl-dots .owl-dot span:hover {
    background: #EEA731; }

#scrollUp {
  background-color: #E4F0D5; }
  #scrollUp:hover {
    background-color: #367765; }

.bg-color-02 {
  background: #D5E2E9; }

.bg-color-09, .btn-color-02 {
  background-color: #F16687;
  border-color: #F16687 !important; }
  .bg-color-09.color-01-hover:hover, .btn-color-02.color-01-hover:hover {
    background-color: #F599B1; }

.ico-cart i, .ico-cart span {
  color: #F16687; }

html, body, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Da 2', cursive; }

nav a {
  font-weight: 600; }

.cart .ico-cart {
  position: relative; }
  .cart .ico-cart i {
    font-size: 25px; }
  .cart .ico-cart span {
    position: absolute;
    right: -10px;
    background: white;
    top: 15px;
    width: 20px !important;
    border: solid 1px #ccc;
    height: 20px;
    display: flex !important;
    align-items: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    font-size: 12px;
    font-weight: 500;
    justify-content: center; }

.page-pagination {
  padding-bottom: 100px; }
  .page-pagination .page-link {
    color: #efa697;
    font-weight: 600;
    padding: 9px 16px;
    margin: 0 3px;
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .page-pagination .page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .page-pagination .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .page-pagination .page-item.disabled .page-link {
    color: #aaa;
    background-color: transparent;
    border-color: transparent; }
  .page-pagination .next-page.page-link1 {
    margin-left: 30px; }
  .page-pagination .page-link:hover,
  .page-pagination .page-item.active .page-link {
    background-color: #efa697;
    color: #fff;
    border-color: #efa697;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .page-pagination .page-link:focus {
    background-color: transparent;
    color: #666;
    border-color: transparent;
    box-shadow: 0 0; }

.ant-btn.custom {
  display: flex;
  align-items: center;
  padding: 22px; }
  .ant-btn.custom:hover {
    background: transparent;
    color: #efa697 !important; }

.ant-input-number.custom {
  height: 40px;
  line-height: 40px;
  font-size: 20px; }
  .ant-input-number.custom:hover, .ant-input-number.custom:focus {
    border-color: #efa697;
    box-shadow: 0 0 0 2px rgba(239, 166, 151, 0.2); }

.tab-custom .nav-link {
  border: unset;
  background-color: #f7f4f0 !important; }
  .tab-custom .nav-link:active {
    background-color: #f7f4f0 !important; }

/*# sourceMappingURL=custom.css.map */
