@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500&display=swap");
.wsmenu > .wsmenu-list > li > ul.sub-menu > li > a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu .link-list li a:before, .wsmenu > .wsmenu-list > li > .wsmegamenu.halfmenu .link-list > li > a:before {
  color: #636363; }

.navbar-dark .wsmenu > .wsmenu-list > li > a {
  color: #636363;
  font-size: 16px; }

.fancy-spinner .ring:nth-child(1) {
  border-left-color: #E44126 !important;
  border-right-color: #E44126 !important; }
.fancy-spinner .ring:nth-child(2) {
  border-top-color: #E44126 !important;
  border-bottom-color: #E44126 !important; }
.fancy-spinner .dot {
  background: #E44126 !important; }

.ant-pagination-item-active {
  border-color: #E44126;
  color: #E44126; }
  .ant-pagination-item-active a {
    color: #E44126; }

.ant-pagination-item-active:focus-visible, .ant-pagination-item-active:hover {
  border-color: #E44126; }

.ant-input-number:focus, .ant-input-number-focused, .ant-input-number:hover {
  border-color: #F2F7E8;
  box-shadow: 0 0 0 2px rgba(54, 119, 101, 0.2); }

.ant-pagination-item-active:focus-visible a, .ant-pagination-item-active:hover a {
  color: #E44126; }

.ant-btn-dangerous {
  color: #E44126;
  border-color: #E44126; }

.tra-header {
  font-family: 'Red Rose', cursive;
  color: #F2F7E8; }

.txt-color-01 {
  color: #F16687; }

.txt-color-05 {
  color: #883F71; }
  .txt-color-05 span, .txt-color-05 a {
    color: #883F71; }

.txt-color-06, .txt-color-03 {
  color: #F599B1; }
  .txt-color-06 a, .txt-color-03 a {
    color: #883F71; }

.stars-rating i {
  color: #E44126; }

.btn-tra-01 {
  border-color: #F16687 !important;
  color: #F16687 !important; }
  .btn-tra-01.color-02-hover:hover {
    background: #F16687; }

.btn-color-02, .scroll .btn-color-02, .white-color .btn-color-02, .color-02-hover:hover, .scroll .color-02-hover:hover, .white-color .color-02-hover:hover {
  background-color: #F16687;
  border-color: #F16687; }

.owl-theme .owl-dots .owl-dot.active span {
  background: white;
  width: 35px; }
.owl-theme .owl-dots .owl-dot span {
  border: 2px solid white;
  transition: 0.5s; }
  .owl-theme .owl-dots .owl-dot span:hover {
    background: white; }

#scrollUp {
  background-color: #E4F0D5; }
  #scrollUp:hover {
    background-color: #F2F7E8; }

.bg-lam {
  background: #D6E6EE; }

.bg-color-09, .btn-color-02 {
  background-color: #F16687;
  border-color: #F16687 !important; }
  .bg-color-09.color-01-hover:hover, .btn-color-02.color-01-hover:hover {
    background-color: #F599B1; }

.ico-cart i, .ico-cart span {
  color: #F16687; }

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Rose', cursive; }

a, b, strong, p, span, small {
  font-family: arial, sans-serif; }

nav a {
  font-weight: 600; }

.wsmenu > .wsmenu-list > li > a {
  text-transform: none; }

.content-text h2 {
  font-family: arial, sans-serif; }
.content-text p.bold {
  margin-top: 5px; }

#footer-1 {
  padding-top: 50px; }

.breadcrumb li.active {
  font-size: 14px;
  font-weight: bold; }
.breadcrumb li a {
  font-size: 14px; }

.divider {
  text-align: center;
  margin: auto;
  height: 4px;
  background-color: #E44126; }
  .divider.w-50px {
    width: 50px; }

.cart .ico-cart {
  position: relative; }
  .cart .ico-cart i {
    font-size: 25px; }
  .cart .ico-cart span {
    position: absolute;
    right: -10px;
    background: white;
    top: 15px;
    width: 20px !important;
    border: solid 1px #ccc;
    height: 20px;
    display: flex !important;
    align-items: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    font-size: 12px;
    font-weight: 500;
    justify-content: center; }

.page-pagination {
  padding-bottom: 50px; }
  .page-pagination .page-link {
    color: #efa697;
    font-weight: 600;
    padding: 9px 16px;
    margin: 0 3px;
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .page-pagination .page-item:first-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .page-pagination .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .page-pagination .page-item.disabled .page-link {
    color: #aaa;
    background-color: transparent;
    border-color: transparent; }
  .page-pagination .next-page.page-link1 {
    margin-left: 30px; }
  .page-pagination .page-link:hover,
  .page-pagination .page-item.active .page-link {
    background-color: #efa697;
    color: #fff;
    border-color: #efa697;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .page-pagination .page-link:focus {
    background-color: transparent;
    color: #666;
    border-color: transparent;
    box-shadow: 0 0; }

.bold {
  font-weight: bold !important; }

.ant-btn.custom {
  display: flex;
  align-items: center;
  padding: 22px;
  background: #636363;
  border: none; }
  .ant-btn.custom:hover {
    background: #E44126; }

.ant-input-number.custom {
  height: 40px;
  line-height: 40px;
  font-size: 20px; }
  .ant-input-number.custom:hover, .ant-input-number.custom:focus {
    border-color: #efa697;
    box-shadow: 0 0 0 2px rgba(239, 166, 151, 0.2); }

#breadcrumb .breadcrumb-nav {
  display: block; }
  #breadcrumb .breadcrumb-nav .breadcrumb-item::before,
  #breadcrumb .breadcrumb-nav .breadcrumb-item a, #breadcrumb .breadcrumb-nav .breadcrumb-item.active {
    color: #636363;
    text-decoration: none; }

.tab-custom .nav-link {
  border: unset;
  padding: 0; }
  .tab-custom .nav-link:active {
    border-bottom: 2px solid #50254A; }

.slideshow2 {
  position: relative; }

.owl-dots {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0; }

.bg-img03 {
  background: url("../img/bg/bg.png") center center no-repeat, url("../img/bg/la1.png") top right no-repeat, url("../img/bg/la2.png") bottom left no-repeat;
  background-size: cover, 30%, 30%;
  background-blend-mode: overlay; }

.product-row .product-title {
  font-size: 16px; }
.product-row .title-cat {
  font-size: 36px; }
  .product-row .title-cat.tim a {
    color: #50254A; }
  .product-row .title-cat.do a {
    color: #E44126; }
  .product-row .title-cat.xanh a {
    color: #367766; }
.product-row .list-item {
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }
  .product-row .list-item.column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  .product-row .list-item li {
    margin-bottom: 10px; }
    .product-row .list-item li a {
      font-weight: bold; }

.xanh {
  color: #367766; }

.tim {
  color: #50254A; }

.bg-green2 {
  background: #E4F1D4; }
  .bg-green2 .img-absolute {
    position: relative; }
    .bg-green2 .img-absolute img {
      position: absolute;
      max-width: 600px;
      left: -30%; }

.do {
  color: #E44126; }

.ml-1 {
  margin-left: 10px; }

.pt-5 {
  padding-top: 50px; }

.ml-2 {
  margin-left: 10px; }

.mb-30 {
  margin-bottom: 30px; }

.align-top {
  align-items: flex-start; }

.row-bg {
  position: relative;
  padding: 40px;
  margin: 40px 0px; }
  .row-bg.bg-tim.bg-left:before {
    left: -5%; }
  .row-bg.bg-tim.bg-right:before {
    right: -5%; }
  .row-bg.bg-tim:before {
    content: '';
    background-color: #E1E9F6;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1; }
  .row-bg.bg-xanh.bg-left:before {
    left: -5%; }
  .row-bg.bg-xanh.bg-right:before {
    right: -5%; }
  .row-bg.bg-xanh:before {
    content: '';
    background-color: #F2F7E8;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1; }
  .row-bg.bg-do.bg-left:before {
    left: -5%; }
  .row-bg.bg-do.bg-right:before {
    right: -5%; }
  .row-bg.bg-do:before {
    content: '';
    background-color: rgba(228, 65, 38, 0.27);
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1; }

#banner-bottom {
  margin-bottom: -100px;
  padding-left: 130px; }
  #banner-bottom .banner-img {
    overflow: hidden;
    display: flex;
    max-height: 400px;
    object-fit: cover; }

.banner-carousel .owl-nav {
  position: absolute;
  width: fit-content;
  top: 0;
  right: 0;
  display: flex;
  bottom: 0;
  left: 0;
  margin: auto; }

#blog-1 {
  padding-top: 50px; }
  #blog-1 .post-carousel .owl-nav {
    position: absolute;
    width: fit-content;
    top: -60px;
    right: 0;
    display: flex; }
    #blog-1 .post-carousel .owl-nav [class*="owl-"] {
      width: 35px;
      height: 35px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid #E44126;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E44126; }
      #blog-1 .post-carousel .owl-nav [class*="owl-"]:hover {
        background-color: #E44126;
        color: white; }

.xam {
  color: #636363; }

.bg-xam {
  background-color: #F5F5F7; }

.blog-post {
  background: white; }
  .blog-post:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05); }
    .blog-post:hover a {
      color: #E44126; }
  .blog-post .blog-post-txt {
    padding: 20px; }
    .blog-post .blog-post-txt h5 {
      color: #636363;
      font-size: 16px;
      font-weight: 700; }
    .blog-post .blog-post-txt .excerpt {
      min-height: 78px; }
    .blog-post .blog-post-txt p {
      font-weight: 400;
      color: #636363;
      font-size: 16px; }
      .blog-post .blog-post-txt p.do {
        color: #E44126; }

.search-head {
  position: relative; }
  .search-head input {
    width: 0;
    display: none;
    transition: 0.5s;
    padding-left: 32px;
    margin-top: 18px;
    border-top: none;
    border-left: none;
    border-right: none; }
    .search-head input:focus {
      box-shadow: unset; }
    .search-head input.is_show {
      transition: 0.5s;
      display: block;
      width: 200px; }
  .search-head img {
    transition: 0.5s;
    margin-top: 18px;
    position: relative; }
    .search-head img.is_show {
      left: 0;
      top: 0;
      position: absolute; }

.btn-default {
  border: solid 1px #636363;
  color: #636363; }
  .btn-default:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05); }

.list-shop .col-text {
  height: 100%;
  align-items: center; }
  .list-shop .col-text .title {
    font-size: 50px; }
  .list-shop .col-text .content-text {
    width: 90%; }
    .list-shop .col-text .content-text.margin-left {
      text-align: left;
      float: right;
      margin-right: -100px; }
    .list-shop .col-text .content-text.margin-right {
      margin-left: -100px;
      text-align: left; }

.contact-bg {
  padding-bottom: 40px;
  margin-top: 80px;
  background-image: url("../img/about/contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px; }
  .contact-bg h1 {
    font-size: 75px; }

#main-thumb {
  max-height: 530px;
  overflow: hidden; }

.page-pagination {
  margin-top: 50px; }

.list-layout1 .number {
  margin-left: 50px;
  text-align: justify; }
  .list-layout1 .number.txt-right {
    margin-right: 50px;
    text-align: right; }
    .list-layout1 .number.txt-right h1 {
      text-align: right; }
      .list-layout1 .number.txt-right h1:before {
        display: none; }
      .list-layout1 .number.txt-right h1::after {
        position: absolute;
        content: '';
        height: 2px;
        right: -100px;
        width: 100px;
        top: 50px;
        border-bottom: 1px solid #50254A; }
  .list-layout1 .number h1 {
    font-size: 100px;
    position: relative; }
    .list-layout1 .number h1::before {
      position: absolute;
      content: '';
      height: 2px;
      left: -100px;
      width: 100px;
      top: 50px;
      border-bottom: 1px solid #50254A; }
.list-layout1 .btn-action {
  background: transparent;
  width: 50%;
  text-align: center;
  margin: 10px 0px;
  border: 1px solid #636363;
  padding: 5px 15px; }
  .list-layout1 .btn-action:hover {
    background: #E44126;
    font-weight: bold;
    color: white;
    border: 1px solid #E44126; }

.btn-contact {
  background: transparent;
  text-align: center;
  margin: 10px 0px;
  border: 1px solid #636363;
  padding: 5px 45px;
  float: right; }
  .btn-contact:hover {
    background: #E44126;
    font-weight: bold;
    color: white;
    border: 1px solid #E44126; }

.other-product {
  margin: 20px 0; }
  .other-product .block-product {
    margin: 20px 0; }
    .other-product .block-product .text {
      text-align: center;
      margin-top: 10px; }
      .other-product .block-product .text a.title {
        font-size: 18px;
        font-weight: bold;
        color: #636363; }
      .other-product .block-product .text .price {
        margin: 0;
        font-size: 16px; }
    .other-product .block-product .img {
      min-height: 365px;
      height: 100%;
      width: 100%;
      position: relative;
      display: -moz-inline-box;
      display: -webkit-box; }
      .other-product .block-product .img img {
        display: flex;
        object-fit: cover; }
      .other-product .block-product .img:hover .action {
        height: 100%;
        opacity: 1; }
      .other-product .block-product .img .action {
        position: absolute;
        top: 0;
        opacity: 0;
        left: 0;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.8); }
        .other-product .block-product .img .action .btn-action {
          background: transparent;
          width: 50%;
          text-align: center;
          margin: 10px 0px;
          border: 1px solid #636363;
          padding: 5px; }
          .other-product .block-product .img .action .btn-action:hover {
            background: white;
            font-weight: bold; }

@media (max-width: 467px) {
  .list-layout1 .number {
    margin-left: 0; }
    .list-layout1 .number.txt-right {
      margin-right: 0; }

  .list-shop .content-text {
    padding: 20px;
    width: 100% !important; }
    .list-shop .content-text.margin-left, .list-shop .content-text.margin-right {
      margin-left: 0 !important;
      margin-right: 0 !important; }

  #banner-bottom {
    margin-bottom: 0 !important;
    padding-left: 0 !important; }
    #banner-bottom .banner-img {
      overflow: hidden;
      max-height: 240px;
      object-fit: cover; }

  #blog-1 {
    padding-top: 0 !important; }

  .img-absolute img {
    position: relative !important;
    width: 100% !important;
    left: 0 !important; }

  .list-item {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
    .list-item.column-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }

/*# sourceMappingURL=custom.css.map */
