html, body {
  overflow-x: hidden; }

.language .dropdown-toggle:after {
  right: -25px; }

.site-footer-social a, .site-footer-social i {
  color: white; }

.service__icon {
  overflow: hidden;
  max-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center; }

.portfolio__img {
  max-height: 320px; }

.text-1 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* fallback */
  max-height: 50px;
  /* fallback */
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.text-2 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* fallback */
  max-height: 50px;
  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.text-3 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* fallback */
  max-height: 50px;
  /* fallback */
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.text-4 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* fallback */
  max-height: 50px;
  /* fallback */
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.text-5 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* fallback */
  max-height: 50px;
  /* fallback */
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.archive .post-item .post__img {
  max-height: 150px;
  height: 150px;
  overflow: hidden; }
  .archive .post-item .post__img a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start; }
    .archive .post-item .post__img a img {
      display: flex;
      object-fit: cover;
      object-position: top center; }

.gallery .gallery-item {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .gallery .gallery-item img {
    display: flex;
    object-fit: cover; }
  .gallery .gallery-item:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05); }

.service-item .service__content {
  padding: 15px; }
  .service-item .service__content .service__icon img {
    max-height: 115px;
    display: flex;
    object-fit: cover;
    overflow: hidden; }

.btn-action {
  border: solid 1px #0e2b3d;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px; }

.blog-grid {
  padding-top: 50px; }

.post-item {
  border-radius: 20px; }
  .post-item.product-item {
    box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.12); }
    .post-item.product-item .post__content {
      padding: 10px; }
      .post-item.product-item .post__content .post__title {
        margin-bottom: 10px; }

.banner-layout5 {
  background-color: rgba(14, 43, 61, 0.5); }
  .banner-layout5 .counters-light {
    margin-bottom: 200px;
    margin-top: 50px; }
  .banner-layout5 .txt-18 {
    font-size: 18px;
    text-align: center; }

.footer .footer-primary {
  padding-top: 50px; }

.page-title.archive {
  padding-top: 170px; }
.page-title.about, .page-title .archive {
  padding-top: 0;
  padding-bottom: 0; }
  .page-title.about .pagetitle__heading, .page-title .archive .pagetitle__heading {
    padding-top: 50px; }
  .page-title.about .about-tab, .page-title .archive .about-tab {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 40px; }
    .page-title.about .about-tab .nav__link, .page-title .archive .about-tab .nav__link {
      color: white; }
      .page-title.about .about-tab .nav__link.active, .page-title .archive .about-tab .nav__link.active {
        background-color: white;
        color: #0e2b3d;
        padding: 15px; }
        .page-title.about .about-tab .nav__link.active:after, .page-title .archive .about-tab .nav__link.active:after {
          bottom: 100%; }

.about-banner {
  max-height: 450px;
  height: 450px;
  margin-bottom: 50px;
  position: relative; }
  .about-banner .banner-description {
    width: 30%;
    position: absolute;
    right: 0;
    color: white;
    font-size: 18px;
    padding: 30px;
    bottom: -20%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); }
  .about-banner img {
    max-height: 450px;
    display: flex;
    object-fit: cover;
    object-position: center center; }

@media (max-width: 467px) {
  .banner-layout5 .counters-light {
    margin-top: 50px;
    margin-bottom: 0; }

  .archive .post-item .post__img {
    max-height: 220px;
    height: 220px; }

  .video__btn-wrapper {
    position: absolute;
    left: 130px;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden; } }

/*# sourceMappingURL=custom.css.map */
